
DisplayPictureWidget
{
  qproperty-normaloverlay: "background-color: rgba( 255, 255, 255, 63 );";
  qproperty-clickoverlay: "background-color: rgba( 255, 255, 255, 127 );";
}

InitialView
{
  background: url(:/kmessstrip1.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 10px;
}

InitialView KUrlLabel
{
  margin-bottom: 100px;
}

KMessView ContactListWidget QTreeView::branch:has-siblings:adjoins-item
{
  border-image: url(empty.png) 0;
}

KMessView ContactListWidget QTreeView::branch:!has-children:!has-siblings:adjoins-item
{
  border-image: url(empty.png) 0;
}

KMessView ContactListWidget QTreeView
{
  background-image: url(:/background.png);
  background-attachment: fixed;
  background-origin: content;
  background-position: bottom right;
  background-repeat: no-repeat;
}

DynamicToolTip
{
  background: qlineargradient( x1:0, y1:0, x2:1, y2:1, stop:0 white, stop:1 #DDF );
}

DynamicToolTipContact
{
  background: transparent;
}

DynamicToolTipGroup
{
  background: transparent;
}
