/*
  KMess Classic-compact chat style
  Copyright (C) 2006, Diederik van der Boor

  Based on the original KMess chat style.

  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License
  as published by the Free Software Foundation; either version 2
  of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA
*/


/**
 * Draw a border arround emoticon placeholders.
 */
img.customEmoticonPlaceholder
{
  border: 1px dotted #ccc;
}



/*
 * fix alignment of emoticons
 */
img.standardEmoticon,
img.customEmoticon,
img.customEmoticonPlaceholder
{
  vertical-align: top;
}



/**
 * Define colors for filenames.
 */
span.filename {
  color: blue;
}

span.failedFilename,
div.notification .filename {
  color: red;
}


/*
 * Separator for the various chats within HTML files
 */
div.conversation
{
  margin: 2em 1em 1em 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid gray;
  color: purple;
}



/**
 * Remaining markup is done inline in the .xsl file.
 */

