/*
  'Dim' style for KMess.
  Copyright (C) 2006, Diederik van der Boor
  Copyright (c) 2004, Iori Yagami

  Design based on 'Yagami' by Iori Yagami
  http://www.kde-look.org/content/show.php?content=23473

  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License
  as published by the Free Software Foundation; either version 2
  of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA
*/



/*
 * the incoming and outgoing messages are implemented as definition-list (<dl>).
 * each message type has a different background/border color.
 *
 * the header is added to the <dt> tag, the message body to the <dd> tag.
 * this is easy to format with css, and easy to read without css markup.
 */


/*
 * reset some default margins.
 */
dl
{
  /* message group */
  margin:  0 0 5px 0; /* set margin bottom */
  padding: 0;
}

dt
{
  /* message title */
  margin:   0;
  padding:  0;
}

dd
{
  /* message body */
  margin:  0 0 0 16px; /* set left margin */
  padding: 0;
}

.rtl dd
{
  margin-left: 0;
  margin-right: 16px;
}



/*
 * message title colors.
 */
.incoming dt
{
  color:      #344A93;
  font-style: italic;
}

.outgoing dt
{
  color: #549A5C;
}

.offlineIncoming dt
{
  color:      #344A93;
  font-style: italic;
}



/*
 * name in message title.
 */
dt span.name
{
  margin-right: 100px; /* avoid overlapping the time */
}

.rtl dt span.name
{
  margin-right: 0;
  margin-left:  100px;
}



/*
 * time in message title.
 */
dt span.time
{
  float:       right;
  display:     inline; /* typically for MSIE bugs */
  margin-left: 10px;
}

.rtl dt span.time
{
  float: left;
  margin-left:  0;
  margin-right: 10px;
}



/*
 * other messages;
 * - application message (e.g. invitation)
 * - notification message (e.g. file transfer complete)
 * - system message (e.g. error, invitation not supported)
 */
div.application,
div.notification,
div.presence,
div.system
{
  margin: 10px 0 10px; /* top and bottom margin */
}

div.application
{
  color: #6172b2;
}

div.presence
{
  color: #c4c4c4;
}

div.notification
{
  color: #c034c9;
}

div.system
{
  color:         #d11313;
  padding:       3px 0;
  border-top:    1px solid #d11313;
  border-bottom: 1px solid #d11313;
}

span.filename {
  color: blue;
}

span.failedFilename,
div.notification .filename {
  color: red;
}



/**
 * Draw a border arround emoticon placeholders.
 */
img.customEmoticonPlaceholder
{
  border: 1px dotted #ccc;
}



/*
 * fix alignment of emoticons
 */
img.standardEmoticon,
img.customEmoticon,
img.customEmoticonPlaceholder
{
  vertical-align: top;
}



/*
 * Separator for the various chats within HTML files
 */
div.conversation
{
  margin-top: 3em;
  margin-bottom: 1em;
  color: purple;
}
